<div class="block-pagination">
    <button type="button" class="btn btn-border-black">
        <span>Показать еще</span>
        <img loading="lazy" src="img/icons/arrow2.svg" alt="">
    </button>
    <div class="pagging">
        <!--
        <span class="pagging__item_nav pagging__item_nav-prev">
            <img loading="lazy" src="img/icons/arrow3.svg" alt="">
        </span>
        -->
        <a class="pagging__item pagging__item_active" href="./">1</a>
        <a class="pagging__item" href="./">2</a>
        <a class="pagging__item" href="./">3</a>
        <a class="pagging__item pagging__item_ellipsis" href="./">...</a>
        <a class="pagging__item" href="./">15</a>
        <a class="pagging__item_nav  pagging__item_nav-next" href="./">
            <img loading="lazy" src="img/icons/arrow3.svg" alt="">
        </a>
    </div>
</div>