<div id="location" aria-hidden="true" class="popup">
    <div class="popup__wrapper">
        <div class="popup__content">
            <div class="popup__body">
                <div class="popup__top">
                    <div class="popup__title">Выберите город</div>
                    <div data-close class="popup__close">
                        <svg aria-hidden="true" width="15" height="15">
                            <use xlink:href="img/sprite.svg#close1"></use>
                        </svg>
                    </div>
                </div>
                <div class="popup-location">
                    <div class="popup-location__search">
                        <div class="popup-location__search-button">
                            <svg aria-hidden="true" width="17" height="17">
                                <use xlink:href="img/sprite.svg#search"></use>
                            </svg>
                        </div>
                        <input autocomplete="off" type="text" name="form[]" placeholder="Поиск по названию города">
                    </div>
                    <ul>
                        <li>
                            <a href="./">
                                <div class="popup-location__name">Москва</div>
                                <div class="popup-location__number">984</div>
                            </a>
                        </li>
                        <li>
                            <a href="./">
                                <div class="popup-location__name">Санкт-Петербург</div>
                                <div class="popup-location__number">819</div>
                            </a>
                        </li>
                        <li>
                            <a href="./">
                                <div class="popup-location__name">Казань</div>
                                <div class="popup-location__number">633</div>
                            </a>
                        </li>
                        <li>
                            <a href="./">
                                <div class="popup-location__name">Новосибирск</div>
                                <div class="popup-location__number">789</div>
                            </a>
                        </li>
                        <li>
                            <a href="./">
                                <div class="popup-location__name">Екатеринбург</div>
                                <div class="popup-location__number">501</div>
                            </a>
                        </li>
                        <li>
                            <a href="./">
                                <div class="popup-location__name">Нижний Новгород</div>
                                <div class="popup-location__number">452</div>
                            </a>
                        </li>
                        <li>
                            <a href="./">
                                <div class="popup-location__name">Ростов-на-Дону</div>
                                <div class="popup-location__number">635</div>
                            </a>
                        </li>
                        <li>
                            <a href="./">
                                <div class="popup-location__name">Самара</div>
                                <div class="popup-location__number">303</div>
                            </a>
                        </li>
                        <li>
                            <a href="./" class="popup-location-more">
                                <span>Все города</span>
                                <img src="img/icons/arrow2.svg" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="login" aria-hidden="true" class="popup">
    <div class="popup__wrapper">
        <div class="popup__content">
            <div class="popup__body">
                <div class="popup__top">
                    <div class="popup__title">Вход в профиль</div>
                    <div data-close class="popup__close">
                        <svg aria-hidden="true" width="15" height="15">
                            <use xlink:href="img/sprite.svg#close1"></use>
                        </svg>
                    </div>
                </div>
                <div class="popup-login">
                    <div data-tabs class="popup-login__tabs">
                        <nav data-tabs-titles class="popup-login__navigation">
                            <button type="button" class="popup-login__title _tab-active">Телефон</button>
                            <button type="button" class="popup-login__title">E-mail</button>
                        </nav>
                        <div data-tabs-body class="popup-login__content">
                            <div class="popup-login__body">
                                <div class="popup-login__items">
                                    <form action="#" class="popup-login-form">
                                        <div class="popup-login-form__text">
                                            Укажи свой номер телефона, чтобы войти. Мы отправим код подтверждения в SMS.
                                        </div>
                                        <div class="popup-login-form__inputs">
                                            <div class="popup-login-form__input">
                                                <div class="popup-login-form__placeholder">Номер телефона</div>
                                                <input data-required autocomplete="off"
                                                    data-error="Пользователя с таким номером не существует!" type="text"
                                                    name="form[]" placeholder="" class="telephone">
                                                    
                                            </div>
                                            <!--При ошибке _form-error и .form-error появляются при клике на кнопку submit
                                            <div class="popup-login-form__input _form-error">
                                                <div class="popup-login-form__placeholder">Номер телефона</div>
                                                <input data-required autocomplete="off"
                                                    data-error="Пользователя с таким номером не существует!" type="text"
                                                    name="form[]" placeholder="" class="telephone _form-error">
                                                <div class="form-error">{data-error} из input</div>
                                            </div>
                                            -->
                                        </div>
                                        <label class="checkbox">
                                            <input data-required class="checkbox__input" type="checkbox" value="1"
                                                name="form[]">
                                            <span class="checkbox__label">
                                                <span class="checkbox__icon">
                                                    <img loading="lazy" src="img/icons/check1.svg" alt="">
                                                </span>
                                                <span class="checkbox__text">
                                                    Я принимаю <a href="./">Политику конфиденциальности</a>, даю
                                                    согласие на
                                                    <a href="./">обработку
                                                        персональных данных</a> и получение рассылок.
                                                </span>
                                            </span>
                                        </label>
                                        <button type="submit" class="btn disabled" data-popup="#code1">Войти</button>
                                    </form>
                                    <div class="popup-login__line">
                                        <span>или</span>
                                    </div>
                                    <div class="popup-login__socials">
                                        <a href="./">
                                            <img loading="lazy" src="img/icons/vk1.svg" alt="">
                                            <span>ВКонтакте</span>
                                        </a>
                                        <a href="./">
                                            <img loading="lazy" src="img/icons/yandex1.svg" alt="">
                                            <span>Яндекс</span>
                                        </a>
                                    </div>
                                    <div class="popup-login__text">
                                        Нет личного кабинета? <a href="./"
                                            data-popup="#registration">Зарегистрироваться</a>
                                    </div>
                                </div>
                            </div>
                            <div class="popup-login__body">
                                <div class="popup-login__items">
                                    <form action="#" class="popup-login-form">
                                        <div class="popup-login-form__text">
                                            Введи адрес электронной почты, чтобы войти в аккаунт. Ссылка для входа
                                            придёт на твою почту.
                                        </div>
                                        <div class="popup-login-form__inputs">
                                            <div class="popup-login-form__input">
                                                <div class="popup-login-form__placeholder">Адрес электронной почты</div>
                                                <input data-required="email" autocomplete="off"
                                                    data-error="Пользователя с таким адресом не существует!" type="text"
                                                    name="form[]" placeholder="">
                                            </div>
                                        </div>
                                        <label class="checkbox">
                                            <input data-required class="checkbox__input" type="checkbox" value="2"
                                                name="form[]">
                                            <span class="checkbox__label">
                                                <span class="checkbox__icon">
                                                    <img loading="lazy" src="img/icons/check1.svg" alt="">
                                                </span>
                                                <span class="checkbox__text">
                                                    Я принимаю <a href="./">Политику конфиденциальности</a>, даю
                                                    согласие на
                                                    <a href="./">обработку
                                                        персональных данных</a> и получение рассылок.
                                                </span>
                                            </span>
                                        </label>
                                        <button type="submit" class="btn disabled" data-popup="#code2">Войти</button>
                                    </form>
                                    <div class="popup-login__line">
                                        <span>или</span>
                                    </div>
                                    <div class="popup-login__socials">
                                        <a href="./">
                                            <img loading="lazy" src="img/icons/vk1.svg" alt="">
                                            <span>ВКонтакте</span>
                                        </a>
                                        <a href="./">
                                            <img loading="lazy" src="img/icons/yandex1.svg" alt="">
                                            <span>Яндекс</span>
                                        </a>
                                    </div>
                                    <div class="popup-login__text">
                                        Нет личного кабинета? <a href="./"
                                            data-popup="#registration">Зарегистрироваться</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="registration" aria-hidden="true" class="popup">
    <div class="popup__wrapper">
        <div class="popup__content">
            <div class="popup__body">
                <div class="popup__top">
                    <div class="popup__title">Регистрация</div>
                    <div data-close class="popup__close">
                        <svg aria-hidden="true" width="15" height="15">
                            <use xlink:href="img/sprite.svg#close1"></use>
                        </svg>
                    </div>
                </div>
                <div class="popup-login">
                    <div class="popup-login__tabs">
                        <div class="popup-login__content">
                            <div class="popup-login__body">
                                <div class="popup-login__items">
                                    <form action="#" class="popup-login-form">
                                        <div class="popup-login-form__inputs">
                                            <div class="popup-login-form__inputs2">
                                                <div class="popup-login-form__input">
                                                    <div class="popup-login-form__placeholder">
                                                        Имя
                                                    </div>
                                                    <input data-required autocomplete="off" type="text" name="form[]"
                                                        placeholder="">
                                                </div>
                                                <div class="popup-login-form__input">
                                                    <div class="popup-login-form__placeholder">
                                                        Фамилия
                                                    </div>
                                                    <input data-required autocomplete="off" type="text" name="form[]"
                                                        placeholder="">
                                                </div>
                                            </div>
                                            <div class="popup-login-form__input">
                                                <div class="popup-login-form__placeholder">Номер телефона</div>
                                                <input data-required autocomplete="off"
                                                    data-error="Пользователя с таким номером не существует!" type="text"
                                                    name="form[]" placeholder="" class="telephone">
                                            </div>
                                            <div class="popup-login-form__input">
                                                <div class="popup-login-form__placeholder">Адрес электронной почты</div>
                                                <input data-required="email" autocomplete="off"
                                                    data-error="Пользователь с таким адресом уже есть!" type="text"
                                                    name="form[]" placeholder="">
                                            </div>
                                        </div>
                                        <label class="checkbox">
                                            <input data-required class="checkbox__input" type="checkbox" value="1"
                                                name="form[]">
                                            <span class="checkbox__label">
                                                <span class="checkbox__icon">
                                                    <img loading="lazy" src="img/icons/check1.svg" alt="">
                                                </span>
                                                <span class="checkbox__text">
                                                    Я принимаю <a href="./">Политику конфиденциальности</a>, даю
                                                    согласие на
                                                    <a href="./">обработку
                                                        персональных данных</a> и получение рассылок.
                                                </span>
                                            </span>
                                        </label>
                                        <button type="submit" class="btn disabled" data-popup="#code3">Создать
                                            аккаунт</button>
                                    </form>
                                    <div class="popup-login__line">
                                        <span>или</span>
                                    </div>
                                    <div class="popup-login__socials">
                                        <a href="./">
                                            <img loading="lazy" src="img/icons/vk1.svg" alt="">
                                            <span>ВКонтакте</span>
                                        </a>
                                        <a href="./">
                                            <img loading="lazy" src="img/icons/yandex1.svg" alt="">
                                            <span>Яндекс</span>
                                        </a>
                                    </div>
                                    <div class="popup-login__text">
                                        Уже зарегистрированы? <a href="./" data-popup="#login">Войти</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="code1" aria-hidden="true" class="popup">
    <div class="popup__wrapper">
        <div class="popup__content">
            <div class="popup__body">
                <div class="popup__top">
                    <div class="popup__title">Вход в профиль</div>
                    <div data-close class="popup__close">
                        <svg aria-hidden="true" width="15" height="15">
                            <use xlink:href="img/sprite.svg#close1"></use>
                        </svg>
                    </div>
                </div>
                <div class="popup-code">
                    <form action="#" class="popup-code__form">
                        <div class="popup-code__text">
                            Мы отправили пятизначный код подтверждения на указанный номер. Введи его ниже, чтобы
                            завершить вход.
                        </div>
                        <div class="popup-code__inputs">
                            <input data-required autocomplete="off" type="text" name="form[]" placeholder="">
                            <input data-required autocomplete="off" type="text" name="form[]" placeholder="">
                            <input data-required autocomplete="off" type="text" name="form[]" placeholder="">
                            <input data-required autocomplete="off" type="text" name="form[]" placeholder="">
                            <input data-required autocomplete="off" type="text" name="form[]" placeholder="">
                        </div>
                        <div class="popup-code__buttons">
                            <button type="submit" class="btn disabled">Подтвердить</button>
                            <a href="./" data-popup="#login" class="btn btn-light">Назад</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="code2" aria-hidden="true" class="popup">
    <div class="popup__wrapper">
        <div class="popup__content">
            <div class="popup__body">
                <div class="popup__top">
                    <div class="popup__title">Вход в профиль</div>
                    <div data-close class="popup__close">
                        <svg aria-hidden="true" width="15" height="15">
                            <use xlink:href="img/sprite.svg#close1"></use>
                        </svg>
                    </div>
                </div>
                <div class="popup-code">
                    <form action="#" class="popup-code__form">
                        <div class="popup-code__text">
                            Мы отправили письмо с кодом подтверждения на твою почту. Введи код ниже, чтобы войти в
                            аккаунт.
                        </div>
                        <div class="popup-code__inputs">
                            <input data-required autocomplete="off" type="text" name="form[]" placeholder="">
                            <input data-required autocomplete="off" type="text" name="form[]" placeholder="">
                            <input data-required autocomplete="off" type="text" name="form[]" placeholder="">
                            <input data-required autocomplete="off" type="text" name="form[]" placeholder="">
                            <input data-required autocomplete="off" type="text" name="form[]" placeholder="">
                        </div>
                        <div class="popup-code__buttons">
                            <button type="submit" class="btn disabled">Подтвердить</button>
                            <a href="./" data-popup="#login" class="btn btn-light">Назад</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="code3" aria-hidden="true" class="popup">
    <div class="popup__wrapper">
        <div class="popup__content">
            <div class="popup__body">
                <div class="popup__top">
                    <div class="popup__title">Регистрация</div>
                    <div data-close class="popup__close">
                        <svg aria-hidden="true" width="15" height="15">
                            <use xlink:href="img/sprite.svg#close1"></use>
                        </svg>
                    </div>
                </div>
                <div class="popup-code">
                    <form action="#" class="popup-code__form">
                        <div class="popup-code__text">
                            Мы отправили код подтверждения на указанный номер. Введи его ниже, чтобы завершить вход.
                        </div>
                        <div class="popup-code__inputs">
                            <input data-required autocomplete="off" type="text" name="form[]" placeholder="">
                            <input data-required autocomplete="off" type="text" name="form[]" placeholder="">
                            <input data-required autocomplete="off" type="text" name="form[]" placeholder="">
                            <input data-required autocomplete="off" type="text" name="form[]" placeholder="">
                            <input data-required autocomplete="off" type="text" name="form[]" placeholder="">
                        </div>
                        <div class="popup-code__buttons">
                            <button type="submit" class="btn disabled">Подтвердить</button>
                            <a href="./" data-popup="#login" class="btn btn-light">Назад</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>