<div id="forms" aria-hidden="true" class="popup popup-forms">
    <div class="popup__wrapper">
        <div class="popup__content">
            <div data-close class="popup__close">
                <img src="img/icons/close.svg" alt="">
            </div>
            <div class="popup-forms__body">
                <div class="popup-forms__top">
                    <div class="popup-forms__title">Оставить заявку</div>
                    <p>
                        Lorem ipsum dolor sit amet.
                    </p>
                </div>
                <form action="#" class="form">
                    <div class="form__inputs">
                        <div class="form__input">
                            <img loading="lazy" src="img/icons/user.svg" alt="">
                            <input data-required autocomplete="off" type="text" name="form[1]" placeholder="Ваше имя"
                                class="input">
                        </div>
                    </div>
                    <div class="form__inputs">
                        <div class="form__input">
                            <img loading="lazy" src="img/icons/phone.svg" alt="">
                            <input data-required autocomplete="off" type="text" name="form[1]"
                                placeholder="Номер телефона" class="input telephone">
                        </div>
                        <div class="form__input">
                            <img loading="lazy" src="img/icons/location.svg" alt="">
                            <input data-required autocomplete="off" type="text" name="form[1]" placeholder="Город"
                                class="input">
                        </div>
                    </div>
                    <div class="form__inputs">
                        <select name="form[1]" class="select1">
                            <option value="" data-show data-label data-label="Марка:" selected>
                                Марка
                            </option>
                            <option value="1">Марка1</option>
                            <option value="2">Марка2</option>
                            <option value="3">Марка3</option>
                            <option value="4">Марка4</option>
                        </select>
                        <select name="form[1]" class="select2">
                            <option value="" data-show data-label data-label="Модель:" selected>
                                Модель
                            </option>
                            <option value="1">Модель1</option>
                            <option value="2">Модель2</option>
                            <option value="3">Модель3</option>
                            <option value="4">Модель4</option>
                        </select>
                    </div>
                    <div class="form__inputs">
                        <div class="form__input textarea">
                            <textarea data-required placeholder="Ваш вопрос" class="input" name="form[1]"></textarea>
                        </div>
                    </div>
                    <button type="submit" class="btn">Отправить</button>
                    <div class="form__text">
                        Нажимая на кнопку, вы даете согласие на обработку своих персональных данных и
                        соглашаетесь с <a href="./">Политикой конфиденциальности</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>