<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Статья</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="breadcrumbs">
                <div class="container">
                    <ul>
                        <li>
                            <a href="#">
                                Главная
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Новости и акции
                            </a>
                        </li>
                        <li><span>Спецтехника изнутри</span></li>
                    </ul>
                </div>
            </div>

            <div class="block-article block1">
                <div class="container">
                    <div class="heading-complex heading-complex-main">
                        <h1 class="title1">Спецтехника изнутри</h1>
                        <div class="heading-complex__line"></div>
                    </div>
                    <div class="block-article__body">
                        <div class="block-descr">
                            <div class="block-descr__column">
                                <h2 class="title3">Описание</h2>
                                <div class="block-descr__text">
                                    <p>
                                        Во многих регионах России установилась температура выше 30 градусов, а
                                        строительный
                                        сезон в
                                        самом разгаре, и наши экскаваторы-погрузчики, работая в самых разных уголках
                                        страны,
                                        просто
                                        спасают своих водителей от теплового удара.
                                    </p>
                                    <p>
                                        Эксклюзивная кабина, изготовленная по технологии
                                        полной формовки, полностью герметичная и обтекаемая, с повышенной шумоизоляцией
                                        за
                                        счет
                                        дополнительной амортизации, оснащена мощным кондиционером.
                                    </p>
                                    <p>
                                        Выдвижное заднее стекло для
                                        дополнительного притока воздуха. Солнцезащитная рулонная шторка и даже бардачок
                                        с
                                        обдувом!
                                    </p>
                                    <p>
                                        Кроме того, наши экскаваторы-погрузчики оснащены улучшенной системой охлаждения
                                        двигателя, которая обеспечивает стабильную работу даже при высоких
                                        температурах.
                                    </p>
                                    <p>
                                        Все-таки
                                        в
                                        Китае, где преобладает субтропический климат, знают, каково это - работать под
                                        палящими
                                        лучами солнца, а потому делают спецтехнику WEHEAVY надежной при эксплуатации в
                                        любых
                                        условиях.
                                    </p>
                                    <p>
                                        Забегая вперед, поделимся реальным отзывом тех, кто отработал на наших силачах
                                        зиму: "Даже в минус 30 - в одной футболке".
                                    </p>
                                </div>
                            </div>
                            <div class="block-descr__image">
                                <img loading="lazy" src="img/news/image11.webp" alt="">
                                <span>Фронтальный погрузчик WEHEAVY WL836H</span>
                            </div>
                            <div class="block-descr__column">
                                <h3 class="title4">Основные преимущества:</h3>
                                <ul>
                                    <li>
                                        <span>Высокая производительность: Ковш объемом 3 м³ и мощный двигатель
                                            125 л.с..</span>
                                    </li>
                                    <li>
                                        <span>Точная гидравлика: Пропорциональное управление для плавной
                                            работы.</span>
                                    </li>
                                    <li>
                                        <span>
                                            Комфортная кабина: Эргономика и климат-контроль для безопасности и
                                            удобства.
                                        </span>
                                    </li>
                                    <li>
                                        <span>Прочная конструкция: Долговечность и устойчивость к износу.</span>
                                    </li>
                                    <li>
                                        <span>Универсальность: Быстроразъемные соединения для смены навесного
                                            оборудования.</span>
                                    </li>
                                </ul>
                                <p>
                                    Фронтальный погрузчик SDLG LG936L обеспечивает надежную и эффективную работу
                                    на строительных и промышленных объектах, делая работу операторов комфортной
                                    и продуктивной.
                                </p>
                            </div>
                            <div class="block-descr__column">
                                <h3 class="title4">Основные преимущества:</h3>
                                <ol>
                                    <li>
                                        <div class="block-descr__number">1</div>
                                        <span>Высокая производительность: Ковш объемом 3 м³ и мощный двигатель
                                            125 л.с..</span>
                                    </li>
                                    <li>
                                        <div class="block-descr__number">2</div>
                                        <span>Точная гидравлика: Пропорциональное управление для плавной
                                            работы.</span>
                                    </li>
                                    <li>
                                        <div class="block-descr__number">3</div>
                                        <span>
                                            Комфортная кабина: Эргономика и климат-контроль для безопасности и
                                            удобства.
                                        </span>
                                    </li>
                                </ol>
                            </div>
                        </div>
                        <div class="block-feature">
                            <h2 class="title3">
                                Характеристики
                            </h2>
                            <ul class="feature-product">
                                <li>
                                    <div class="feature-product__name">
                                        Эксплуатационная масса,т
                                    </div>
                                    <div class="feature-product__line">
                                    </div>
                                    <div class="feature-product__value">
                                        125
                                    </div>
                                </li>
                                <li>
                                    <div class="feature-product__name">
                                        Грузоподъемность,т
                                    </div>
                                    <div class="feature-product__line">
                                    </div>
                                    <div class="feature-product__value">
                                        3
                                    </div>
                                </li>
                                <li>
                                    <div class="feature-product__name">
                                        Объем ковша, м<span>3</span>
                                    </div>
                                    <div class="feature-product__line">
                                    </div>
                                    <div class="feature-product__value">
                                        2
                                    </div>
                                </li>
                                <li>
                                    <div class="feature-product__name">
                                        Мощность л.с.
                                    </div>
                                    <div class="feature-product__line">
                                    </div>
                                    <div class="feature-product__value">
                                        125
                                    </div>
                                </li>
                                <li>
                                    <div class="feature-product__name">
                                        Двигатель
                                    </div>
                                    <div class="feature-product__line">
                                    </div>
                                    <div class="feature-product__value">
                                        Weichai
                                    </div>
                                </li>
                                <li>
                                    <div class="feature-product__name">
                                        Высота, мм
                                    </div>
                                    <div class="feature-product__line">
                                    </div>
                                    <div class="feature-product__value">
                                        3170
                                    </div>
                                </li>
                                <li>
                                    <div class="feature-product__name">
                                        Ширина, мм
                                    </div>
                                    <div class="feature-product__line">
                                    </div>
                                    <div class="feature-product__value">
                                        2520
                                    </div>
                                </li>
                                <li>
                                    <div class="feature-product__name">
                                        Длина, мм
                                    </div>
                                    <div class="feature-product__line">
                                    </div>
                                    <div class="feature-product__value">
                                        7230
                                    </div>
                                </li>
                                <li>
                                    <div class="feature-product__name">
                                        Страна Производитель:
                                    </div>
                                    <div class="feature-product__line">
                                    </div>
                                    <div class="feature-product__value">
                                        Китай
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="block-article-tables">
                            <div class="block-article-tables__main">
                                <div class="block-article-tables__item">Наименование</div>
                                <div class="block-article-tables__item">Модель</div>
                                <div class="block-article-tables__item">
                                    <span>Производительность,
                                        м<span class="mini">3</span>/час</span>
                                </div>
                                <div class="block-article-tables__item">Габариты, LхDхH*, мм</div>
                                <div class="block-article-tables__item">Масса</div>
                                <div class="block-article-tables__item">Потребляемая мощность, кВт</div>
                            </div>
                            <div class="block-article-tables__items">
                                <div class="block-article-tables__item">
                                    Полнокомплектные
                                    установки
                                    биологической
                                    очистки сточных вод
                                    (для подземного
                                    размещения или в
                                    обваловке)
                                </div>
                                <div class="block-article-tables__item item-column">
                                    <div class="block-article-tables__title">
                                        WLB468
                                    </div>
                                    <div class="block-article-tables__title">
                                        WLB468
                                    </div>
                                    <div class="block-article-tables__title">
                                        WLB468
                                    </div>
                                    <div class="block-article-tables__title">
                                        WLB468
                                    </div>
                                </div>
                                <div class="block-article-tables__item item-column">
                                    <div class="block-article-tables__title">
                                        до 14
                                    </div>
                                    <div class="block-article-tables__title">
                                        26
                                    </div>
                                    <div class="block-article-tables__title">
                                        50
                                    </div>
                                    <div class="block-article-tables__title">
                                        500
                                    </div>
                                </div>
                                <div class="block-article-tables__item item-column">
                                    <div class="block-article-tables__title">
                                        7350 x 2400 х 3000
                                    </div>
                                    <div class="block-article-tables__title">
                                        9100 x 2400 х 3000
                                    </div>
                                    <div class="block-article-tables__title">
                                        9100 x 2400 х 3000
                                    </div>
                                    <div class="block-article-tables__title">
                                        9100 x 2400 х 3000
                                    </div>
                                </div>
                                <div class="block-article-tables__item item-column">
                                    <div class="block-article-tables__title">
                                        6150
                                    </div>
                                    <div class="block-article-tables__title">
                                        7800
                                    </div>
                                    <div class="block-article-tables__title">
                                        7800
                                    </div>
                                    <div class="block-article-tables__title">
                                        7800
                                    </div>
                                </div>
                                <div class="block-article-tables__item item-column">
                                    <div class="block-article-tables__title">
                                        13,86
                                    </div>
                                    <div class="block-article-tables__title">
                                        13,86
                                    </div>
                                    <div class="block-article-tables__title">
                                        13,86
                                    </div>
                                    <div class="block-article-tables__title">
                                        13,86
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="block-article__images">
                            <img loading="lazy" src="img/news/image12.webp" alt="">
                            <img loading="lazy" src="img/news/image13.webp" alt="">
                        </div>
                        <blockquote>
                            <p>
                                Одной из особенностей фронтального погрузчика Weichai WL820H является
                                шарнирно-сочленённая рама, которая обеспечивает малый радиус поворота. Это делает его
                                особенно удобным для выполнения различных работ.
                            </p>
                        </blockquote>
                        <div class="block-descr">
                            <div class="block-descr__text">
                                <p>
                                    Во многих регионах России установилась температура выше 30 градусов, а
                                    строительный
                                    сезон в
                                    самом разгаре, и наши экскаваторы-погрузчики, работая в самых разных уголках
                                    страны,
                                    просто
                                    спасают своих водителей от теплового удара.
                                </p>
                                <p>
                                    Эксклюзивная кабина, изготовленная по технологии
                                    полной формовки, полностью герметичная и обтекаемая, с повышенной шумоизоляцией
                                    за
                                    счет
                                    дополнительной амортизации, оснащена мощным кондиционером.
                                </p>
                                <p>
                                    Выдвижное заднее стекло для
                                    дополнительного притока воздуха. Солнцезащитная рулонная шторка и даже бардачок
                                    с
                                    обдувом!
                                </p>
                                <p>
                                    Кроме того, наши экскаваторы-погрузчики оснащены улучшенной системой охлаждения
                                    двигателя, которая обеспечивает стабильную работу даже при высоких
                                    температурах.
                                </p>
                                <p>
                                    Все-таки
                                    в
                                    Китае, где преобладает субтропический климат, знают, каково это - работать под
                                    палящими
                                    лучами солнца, а потому делают спецтехнику WEHEAVY надежной при эксплуатации в
                                    любых
                                    условиях.
                                </p>
                                <p>
                                    Забегая вперед, поделимся реальным отзывом тех, кто отработал на наших силачах
                                    зиму: "Даже в минус 30 - в одной футболке".
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>