<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Статья2</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="breadcrumbs">
                <div class="container">
                    <ul>
                        <li>
                            <a href="#">
                                Главная
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Новости и акции
                            </a>
                        </li>
                        <li><span>Спецтехника изнутри</span></li>
                    </ul>
                </div>
            </div>

            <div class="block-article block-article2 block1">
                <div class="container">
                    <div class="heading-complex heading-complex-main">
                        <h1 class="title1">Заголовок</h1>
                        <div class="heading-complex__line"></div>
                    </div>
                    <div class="block-article__body">
                        <div class="block-descr">
                            <div class="block-descr__columns">
                                <div class="block-descr__column">
                                    <h2 class="title3">Описание</h2>
                                    <div class="block-descr__text">
                                        <p>
                                            Во многих регионах России установилась температура выше 30 градусов, а
                                            строительный
                                            сезон в
                                            самом разгаре, и наши экскаваторы-погрузчики, работая в самых разных уголках
                                            страны,
                                            просто
                                            спасают своих водителей от теплового удара.
                                        </p>
                                        <p>
                                            Эксклюзивная кабина, изготовленная по технологии
                                            полной формовки, полностью герметичная и обтекаемая, с повышенной
                                            шумоизоляцией
                                            за
                                            счет
                                            дополнительной амортизации, оснащена мощным кондиционером.
                                        </p>
                                        <p>
                                            Выдвижное заднее стекло для
                                            дополнительного притока воздуха. Солнцезащитная рулонная шторка и даже
                                            бардачок
                                            с
                                            обдувом!
                                        </p>
                                        <p>
                                            Кроме того, наши экскаваторы-погрузчики оснащены улучшенной системой
                                            охлаждения
                                            двигателя, которая обеспечивает стабильную работу даже при высоких
                                            температурах.
                                        </p>
                                        <p>
                                            Все-таки
                                            в
                                            Китае, где преобладает субтропический климат, знают, каково это - работать
                                            под
                                            палящими
                                            лучами солнца, а потому делают спецтехнику WEHEAVY надежной при эксплуатации
                                            в
                                            любых
                                            условиях.
                                        </p>
                                        <p>
                                            Забегая вперед, поделимся реальным отзывом тех, кто отработал на наших
                                            силачах
                                            зиму: "Даже в минус 30 - в одной футболке".
                                        </p>
                                    </div>
                                </div>
                                <div class="block-descr__gallery">
                                    <div class="block-descr__slider swiper">
                                        <div class="block-descr__wrapper swiper-wrapper">
                                            <a href="img/news/image11.webp" data-fancybox="gallery2"
                                                class="block-descr__slide swiper-slide">
                                                <img loading="lazy" src="img/news/image11.webp" alt="">
                                            </a>
                                            <a href="img/news/image12.webp" data-fancybox="gallery2"
                                                class="block-descr__slide swiper-slide">
                                                <img loading="lazy" src="img/news/image12.webp" alt="">
                                            </a>
                                            <a href="img/news/image11.webp" data-fancybox="gallery2"
                                                class="block-descr__slide swiper-slide">
                                                <img loading="lazy" src="img/news/image11.webp" alt="">
                                            </a>
                                            <a href="img/news/image12.webp" data-fancybox="gallery2"
                                                class="block-descr__slide swiper-slide">
                                                <img loading="lazy" src="img/news/image12.webp" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="block-descr__arrow-prev arrow-prev arrow-white">
                                        <img src="img/icons/arrow1.svg" alt="">
                                    </div>
                                    <div class="block-descr__arrow-next arrow-next arrow-white">
                                        <img src="img/icons/arrow1.svg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="block-partners">
                                <div class="block-partners__content">
                                    <div class="block-partners__slider2 swiper">
                                        <div class="block-partners__wrapper swiper-wrapper swiper-center">
                                            <div class="block-partners__slide swiper-slide">
                                                <img loading="lazy" src="img/brands/image1.webp" alt="">
                                            </div>
                                            <div class="block-partners__slide swiper-slide">
                                                <img loading="lazy" src="img/brands/image2.webp" alt="">
                                            </div>
                                            <div class="block-partners__slide swiper-slide">
                                                <img loading="lazy" src="img/brands/image3.webp" alt="">
                                            </div>
                                            <div class="block-partners__slide swiper-slide">
                                                <img loading="lazy" src="img/brands/image4.webp" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="block-partners__arrow-prev arrow-prev arrow-white">
                                        <img src="img/icons/arrow1.svg" alt="">
                                    </div>
                                    <div class="block-partners__arrow-next arrow-next arrow-white">
                                        <img src="img/icons/arrow1.svg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="block-article__images">
                                <img loading="lazy" src="img/news/image12.webp" alt="">
                                <div class="block-descr__column">
                                    <div class="block-descr__text">
                                        <p>
                                            Во многих регионах России установилась температура выше 30 градусов, а
                                            строительный
                                            сезон в
                                            самом разгаре, и наши экскаваторы-погрузчики, работая в самых разных уголках
                                            страны,
                                            просто
                                            спасают своих водителей от теплового удара.
                                        </p>
                                        <p>
                                            Эксклюзивная кабина, изготовленная по технологии
                                            полной формовки, полностью герметичная и обтекаемая, с повышенной
                                            шумоизоляцией
                                            за
                                            счет
                                            дополнительной амортизации, оснащена мощным кондиционером.
                                        </p>
                                        <p>
                                            Выдвижное заднее стекло для
                                            дополнительного притока воздуха. Солнцезащитная рулонная шторка и даже
                                            бардачок
                                            с
                                            обдувом!
                                        </p>
                                        <p>
                                            Кроме того, наши экскаваторы-погрузчики оснащены улучшенной системой
                                            охлаждения
                                            двигателя, которая обеспечивает стабильную работу даже при высоких
                                            температурах.
                                        </p>
                                        <p>
                                            Все-таки
                                            в
                                            Китае, где преобладает субтропический климат, знают, каково это - работать
                                            под
                                            палящими
                                            лучами солнца, а потому делают спецтехнику WEHEAVY надежной при эксплуатации
                                            в
                                            любых
                                            условиях.
                                        </p>
                                        <p>
                                            Забегая вперед, поделимся реальным отзывом тех, кто отработал на наших
                                            силачах
                                            зиму: "Даже в минус 30 - в одной футболке".
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="block-article__banner">
                                <img loading="lazy" src="img/news/image12.webp" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>