<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Контакты</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="breadcrumbs">
                <div class="container">
                    <ul>
                        <li>
                            <a href="#">
                                Главная
                            </a>
                        </li>
                        <li><span>Контакты</span></li>
                    </ul>
                </div>
            </div>

            <div class="block-contacts block1">
                <div class="container">
                    <div class="heading-complex heading-complex-main">
                        <h1 class="title1">Контакты</h1>
                        <div class="heading-complex__line"></div>
                    </div>
                    <div class="block-contacts__content">
                        <div class="filter">
                            <div class="filter__button">
                                <img loading="lazy" src="img/icons/filter.svg" alt="">
                                <span>Фильтры</span>
                            </div>
                            <div class="filter__content">
                                <div class="filter__top">
                                    <div class="filter__title">Фильтры</div>
                                    <div class="filter__close">
                                        <img loading="lazy" src="img/icons/close.svg" alt="">
                                    </div>
                                </div>
                                <div class="filter__body">
                                    <div data-spollers class="filter-spollers">
                                        <div class="filter-spollers__item">
                                            <button type="button" data-spoller class="filter-spollers__title">
                                                Выбор региона
                                            </button>
                                            <div class="filter-spollers__body">
                                                <div class="filter-spollers__checkboxes">
                                                    <label class="checkbox">
                                                        <input class="checkbox__input" type="checkbox" value="1"
                                                            name="checkbox1">
                                                        <span class="checkbox__label">
                                                            <span class="checkbox__icon">
                                                                <img src="img/icons/check1.svg" alt="">
                                                            </span>
                                                            <span class="checkbox__text">
                                                                Выбор региона1
                                                            </span>
                                                        </span>
                                                    </label>
                                                    <label class="checkbox">
                                                        <input class="checkbox__input" type="checkbox" value="2"
                                                            name="checkbox1">
                                                        <span class="checkbox__label">
                                                            <span class="checkbox__icon">
                                                                <img src="img/icons/check1.svg" alt="">
                                                            </span>
                                                            <span class="checkbox__text">
                                                                Выбор региона2
                                                            </span>
                                                        </span>
                                                    </label>
                                                    <label class="checkbox">
                                                        <input class="checkbox__input" type="checkbox" value="3"
                                                            name="checkbox1">
                                                        <span class="checkbox__label">
                                                            <span class="checkbox__icon">
                                                                <img src="img/icons/check1.svg" alt="">
                                                            </span>
                                                            <span class="checkbox__text">
                                                                Выбор региона3
                                                            </span>
                                                        </span>
                                                    </label>
                                                    <label class="checkbox">
                                                        <input class="checkbox__input" type="checkbox" value="4"
                                                            name="checkbox1">
                                                        <span class="checkbox__label">
                                                            <span class="checkbox__icon">
                                                                <img src="img/icons/check1.svg" alt="">
                                                            </span>
                                                            <span class="checkbox__text">
                                                                Выбор региона4
                                                            </span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="filter__floating-btn btn">
                                        <span>Показать</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="block-contacts__body">
                            <div data-tabs class="contacts-tabs">
                                <div class="contacts-tabs__top">
                                    <span>Показать:</span>
                                    <nav data-tabs-titles class="contacts-tabs__navigation">
                                        <button type="button" class="contacts-tabs__title _tab-active">списком</button>
                                        <button type="button" class="contacts-tabs__title">на карте</button>
                                    </nav>
                                </div>
                                <div data-tabs-body class="contacts-tabs__content">
                                    <div class="contacts-tabs__body">
                                        <div class="contacts-tabs-list">
                                            <div class="contacts-tabs-list__title">Москва</div>
                                            <div class="contacts-tabs-list__cards">
                                                <div class="contacts-tabs-list__card">
                                                    <div class="contacts-tabs-list__left">
                                                        <div class="contacts-tabs-list__image">
                                                            <img src="img/image6.webp" alt="">
                                                        </div>
                                                        <div class="contacts-tabs-list__item">
                                                            <div class="contacts-tabs-list__name">
                                                                Москва - ГРАНД Москва
                                                            </div>
                                                            <ul>
                                                                <li>
                                                                    <img src="img/icons/location.svg" alt="">
                                                                    <span>
                                                                        141580, Московская область, городской округ
                                                                        Химки, Промышленная улица, с1
                                                                    </span>
                                                                </li>
                                                                <li>
                                                                    <img src="img/icons/phone.svg" alt="">
                                                                    <a href="tel:78007073310">
                                                                        +7 (800) 707-33-10
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <img src="img/icons/time.svg" alt="">
                                                                    <span>
                                                                        Пн-Пт: 09.00-18-00
                                                                    </span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="contacts-tabs-list__right">
                                                        <a href="#" download="#" class="contacts-tabs-list__location">
                                                            <img src="img/icons/map.svg" alt="">
                                                            Cкачать схему поезда
                                                        </a>
                                                        <div class="contacts-tabs-list__buttons">
                                                            <a href="./" class="btn btn-border-black">Написать нам</a>
                                                            <a href="./" class="btn">Подробнее о филиале</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="contacts-tabs-list__card">
                                                    <div class="contacts-tabs-list__left">
                                                        <div class="contacts-tabs-list__image">
                                                            <img src="img/image7.webp" alt="">
                                                        </div>
                                                        <div class="contacts-tabs-list__item">
                                                            <div class="contacts-tabs-list__name">
                                                                Москва - ГРАНД Москва
                                                            </div>
                                                            <ul>
                                                                <li>
                                                                    <img src="img/icons/location.svg" alt="">
                                                                    <span>
                                                                        141580, Московская область, городской округ
                                                                        Химки, Промышленная улица, с1
                                                                    </span>
                                                                </li>
                                                                <li>
                                                                    <img src="img/icons/phone.svg" alt="">
                                                                    <a href="tel:78007073310">
                                                                        +7 (800) 707-33-10
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <img src="img/icons/time.svg" alt="">
                                                                    <span>
                                                                        Пн-Пт: 09.00-18-00
                                                                    </span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="contacts-tabs-list__right">
                                                        <a href="#" download="#" class="contacts-tabs-list__location">
                                                            <img src="img/icons/map.svg" alt="">
                                                            Cкачать схему поезда
                                                        </a>
                                                        <div class="contacts-tabs-list__buttons">
                                                            <a href="./" class="btn btn-border-black">Написать нам</a>
                                                            <a href="./" class="btn">Подробнее о филиале</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="contacts-tabs-list__card">
                                                    <div class="contacts-tabs-list__left">
                                                        <div class="contacts-tabs-list__image">
                                                            <img src="img/image7.webp" alt="">
                                                        </div>
                                                        <div class="contacts-tabs-list__item">
                                                            <div class="contacts-tabs-list__name">
                                                                Москва - ГРАНД Москва
                                                            </div>
                                                            <ul>
                                                                <li>
                                                                    <img src="img/icons/location.svg" alt="">
                                                                    <span>
                                                                        141580, Московская область, городской округ
                                                                        Химки, Промышленная улица, с1
                                                                    </span>
                                                                </li>
                                                                <li>
                                                                    <img src="img/icons/phone.svg" alt="">
                                                                    <a href="tel:78007073310">
                                                                        +7 (800) 707-33-10
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <img src="img/icons/time.svg" alt="">
                                                                    <span>
                                                                        Пн-Пт: 09.00-18-00
                                                                    </span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="contacts-tabs-list__right">
                                                        <a href="#" download="#" class="contacts-tabs-list__location">
                                                            <img src="img/icons/map.svg" alt="">
                                                            Cкачать схему поезда
                                                        </a>
                                                        <div class="contacts-tabs-list__buttons">
                                                            <a href="./" class="btn btn-border-black">Написать нам</a>
                                                            <a href="./" class="btn">Подробнее о филиале</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="contacts-tabs-list__card">
                                                    <div class="contacts-tabs-list__left">
                                                        <div class="contacts-tabs-list__image">
                                                            <img src="img/image7.webp" alt="">
                                                        </div>
                                                        <div class="contacts-tabs-list__item">
                                                            <div class="contacts-tabs-list__name">
                                                                Москва - ГРАНД Москва
                                                            </div>
                                                            <ul>
                                                                <li>
                                                                    <img src="img/icons/location.svg" alt="">
                                                                    <span>
                                                                        141580, Московская область, городской округ
                                                                        Химки, Промышленная улица, с1
                                                                    </span>
                                                                </li>
                                                                <li>
                                                                    <img src="img/icons/phone.svg" alt="">
                                                                    <a href="tel:78007073310">
                                                                        +7 (800) 707-33-10
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <img src="img/icons/time.svg" alt="">
                                                                    <span>
                                                                        Пн-Пт: 09.00-18-00
                                                                    </span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="contacts-tabs-list__right">
                                                        <a href="#" download="#" class="contacts-tabs-list__location">
                                                            <img src="img/icons/map.svg" alt="">
                                                            Cкачать схему поезда
                                                        </a>
                                                        <div class="contacts-tabs-list__buttons">
                                                            <a href="./" class="btn btn-border-black">Написать нам</a>
                                                            <a href="./" class="btn">Подробнее о филиале</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="contacts-tabs__body">
                                        <div id="map1" class="contacts-tabs__map"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=ваш API-ключ&amp;lang=ru_RU&amp;_v=20240623012845"></script>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>